{% extends 'projects/base.html' %}

{% block title %}Your Tasks{% endblock %}
{% block content %}
    <main>
        <div class="my-tasks-list">
            <h1 class="my-tasks-h1">My Tasks</h1>
            <p>
                <a href="{% url "create_project" %}">Create a new project</a>
            </p>
            {% if tasks_list.all %}
                <table>
                    <thead>
                        <th>
                            <tr>
                                <th>Name</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </tr>
                        </th>
                    </thead>
                    <tbody>
                        {% for task in tasks_list.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
