{% extends 'projects/base.html' %}

{% block title %}
    Detail
{% endblock title %}
{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ project_object.name }}</h1>
            <p>{{ project_object.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url "create_task" %}">Create a new task</a>
            </p>
            {% if project_object.tasks.all %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in project_object.tasks.all %}
                            <tr>
                                <td>{{ object.name }}</td>
                                <td>{{ object.assignee }}</td>
                                <td>{{ object.start_date }}</td>
                                <td>{{ object.due_date }}</td>
                                <td>{{ object.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock %}
